.navbar.navbar-default.header {
  background: #183544;
  border-radius: 0px;
  padding: 20px;
  border: none;
}

/* signin - signup */

.main-div.auth .panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}

.main-div.auth .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 0px;
  font-size: 14px;
  padding: 0 35px 0 10px;
  height: 40px;
}

.main-div.auth {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  /* max-width: 38%; */
  padding: 50px 70px 70px 71px;
}

.main-div.auth .form-group {
  margin-bottom: 10px;
}

.main-div.auth .btn.btn-primary {
  background: #f57224;
  border-color: #f57224;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  height: 48px;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all .3s ease-out;
}

.main-div.auth .btn.btn-primary:hover {
  background-color: #d0611e;
  border-color: transparent;
}

.main-div.auth .action {
  text-align: left;
  margin-bottom: 30px;
}

/* footer */

footer {
  background-color: #183544;
  padding: 32px 0px;
}

footer ul {
  list-style-type: none;
  padding: 0px 100px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
}

footer ul a i.fa {
  font-size: 18px;
  color: #ffffff;
}

footer p.title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D3D3D3;
}

footer .subscribe {
  padding: 20px 20px 4px;
}

footer .subscribe input {
  display: block;
  width: 90%;
  margin: auto;
  background: #102632;
  border: 1px solid #102632;
  padding: 8px;
  color: #D3D3D3;
}

footer .subscribe input::placeholder {
  color: #D3D3D3;
}

footer .subscribe button {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 8px;
  background: #f57224;
  border: 1px solid #f57224;
  color: #ffffff;
}

footer .subscribe button:hover {
  background: #d0611e;
  border-color: transparent;
}

footer>div>p {
  color: #D3D3D3;
  margin-top: 20px;
  letter-spacing: 0.1em;
}

footer .contact {
  color: #ffffff;
}

footer .contact a {
  color: #ffffff;
  text-decoration: none;
}

footer .contact a:hover {
  color: #D3D3D3;
}

/* admin */

.navbar-static-top {
  background: #f3f3f4;
  z-index: 1000;
}

.navbar {
  border: 0;
}

.navbar-header .btn.btn-primary {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #fff;
  border-radius: 3px;
}

.minimalize-styl-2 {
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left;
}

.product img {
  width: 40px;
  width: 40px;
}
#profile{
  padding-bottom: 40px;
}
.info_account{
  /* border: solid gray 1px; */
  background-color: white;
  padding: 10px;
  height: 360px;
  box-shadow: 0px 0px 2px 2px #E6E6E6;
  margin-bottom: 10px;
}
.table_order{
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 2px 2px #E6E6E6;
  margin: 12px;
}
