.navbar-static-side {
    position: fixed;
    width: 220px;
    z-index: 2001;
    height: 100%;
}

.navbar-default {
    background-color: #2f4050;
}

.nav>li.active>a {
    color: #fff;
}

.nav>li.active {
    border-left: 4px solid #19aa8d;
    background: #293846
}

.nav>li>a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus {
    background-color: #293846;
    color: #fff
}

.nav-header {
    padding: 33px 25px;
}

.nav-header .profile-element {
    text-align: center
}

.nav-header a {
    color: #dfe4ed;
    cursor: pointer;
}

.nav-header a {
    text-decoration: none;
}

.nav-header a:hover {
    text-decoration: none;
}

.block.m-t-xs {
    display: block;
    margin-top: 5px;
}

.nav-second-level li a {
    padding: 7px 10px;
    padding-left: 52px
}

/* main */
#page-wrapper {
    margin-left: 220px;
}
.navbar-static-top {
    background: #f3f3f4;
    z-index: 1000;
}

.navbar {
    border: 0;
}

.navbar-header .btn.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff;
    border-radius: 3px;
}

.minimalize-styl-2 {
    padding: 4px 12px;
    margin: 14px 5px 5px 20px;
    font-size: 14px;
    float: left;
}