.search form {
    padding: 5px 0 35px 0;
    width: 300px;
    display: flex;
    margin-left: 50px;
}

.search input {
    padding: 0 8px 0 8px;
    border-radius: 1px;
}

.search .btn {
    border-radius: 1px;
}